@import url('https://fonts.googleapis.com/css2? family= Lato:ital,wght@0,300;0,400;0,900;1,900 & family= Playfair+Display:wght@400;500;700 & exibir=trocar');

/* Zerando CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da tela*/

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family:'Lato', sans-serif;
    
}

body {
    /* background: linear-gradient(#004853, #74b3a7), url(img/imagem.fundopagina.jpg); */
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;

}