/* Centro - conteúdo principal */
main {
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Adicionando para centralizar verticalmente */
}

.main-content {
    text-align: center; /* Centralizando o texto */
}

/* Conteúdo principal */
.primary-text {
    max-width: 90%; /* Alterando para se ajustar ao tamanho da tela */
    font-size: 5rem;
    margin-bottom: 2rem;
}

.second-text {
    max-width: 90%; /* Alterando para se ajustar ao tamanho da tela */
    margin-bottom: 4rem; /* Reduzindo a margem para diminuir o espaço */
    font-size: 2rem;
    color: #ade4b5;
    text-transform: uppercase;
}

/* Botões */
.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2rem; /* Adicionando margem superior para separar dos textos */
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: rgb(251, 255, 0);
    border: none; /* Corrigindo a propriedade de borda que estava incorreta */
    font-size: 2rem;
}

.btns button:before {
    content: " ";
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: #149c68;
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}
